body {
    background: #3e4144;   
}
*{
    margin: 0px;
    padding: 0px;
}

header, section, footer, aside, nav, article, hgroup{
    display: block; 
}
.img{
    margin: 10px auto;
    width: 100px;
    padding: 40px 40px;
    background: white;
    border:1px solid green;
    border-radius: 5px;
    
}
.photo{
    background-color: gray;
    margin-left: 10px;
    margin-right: 10px;
    border: 2px solid green;
    
}
.UP{
    border: 2px solid green;
    text-align: center;
    color: white;
    font-size: 30px;

}
.report{
    margin: 10px auto;
    width: 250px;
    padding: 30px 25px;
}
.reportbox{
    margin: 20px;
    width: 500px;
    padding: 30px 25px;
    background: white;
    height: auto;
}

.form {
    margin: 50px auto;
    width: 300px;
    padding: 30px 25px;
    background: -webkit-linear-gradient(green,white);
}
h4{
    text-align: center;
}
table{
    background: -webkit-linear-gradient(green,white);
}

h1.login-title {
    color: white;
    margin: 0px auto 25px;
    font-size: 25px;
    font-weight: 300;
    text-align: center;
}
.login-input {
    font-size: 15px;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 25px;
    height: 25px;
    width: calc(100% - 23px);
}
.login-input:focus {
    border-color:#6e8095;
    outline: none;
}
.login-button {
    color: #fff;
    background: green;
    border: 0;
    outline: 0;
    width: 100%;
    height: 50px;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
}
.link {
    color: #666;
    font-size: 15px;
    text-align: center;
    margin-bottom: 0px;
}
.link a {
    color: green;
}
h3 {
    font-weight: normal;
    text-align: center;
}
