

body {
    background: #3e4144; 
    display: block;
    margin: 0px;
}
*{
    margin: 0px;
    padding: 0px;
}



header, section, footer, aside, nav, article, hgroup{
    display: block; 
}
p{
    font-family: tahoma;
}
.info{
    color: green;
}
.detail{
    font-size: 12px;
}
.img{
    margin: 10px auto;
    width: 150px;
    height: auto;
    padding: auto;
    background: rgb(255, 255, 255);
    border-radius: 5px;
    
}
#photo{
    background-color: gray;
    margin-left: 10px;
    margin-right: 10px;
    border: 2px solid green;
    
}
.UP{
    border: 2px solid green;
    text-align: center;
    color: white;
    font-size: 30px;

}
.report{
    margin: 10px auto;
    width: 100%;
    padding: 30px 25px;
}
.reportbox{
    margin: 20px;
    width: 50%;
    padding: 30px 25px;
    background: white;
    height: auto;
}

.form {
    margin: 50px auto;
    width: 350px;
    padding: 30px 25px;
    background: -webkit-linear-gradient(green,white);
    
}
h5{
    text-align: center;
}
table{
    background: -webkit-linear-gradient(green,white);
}

h1.login-title {
    color: white;
    margin: 0px auto 25px;
    font-size: 25px;
    font-weight: 300;
    text-align: center;
}
.login-input {
    font-size: 15px;
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 25px;
    margin-left:1px;
    height: 25px;
    width: 49%;
    display: inline-block;


}
.login-input:focus {
    border-color:#6e8095;
    outline: none;
}
option{
    margin-bottom: 10px;
}
.login-button {
    color: #fff;
    background: green;
    border: 0;
    outline: 0;
    width: 100%;
    height: 50px;
    font-size: 17px;
    text-align: center;
    cursor: pointer;
}
.link {
    color: black;
    font-size: 17px;
    margin-bottom: 25px;
    text-align: center;

}

h3 {
    font-weight: normal;
    text-align: center;
}
